<section>
<h1><%= @task.title %></h1>
<p><%= @task.description %> <br><%= @task.due_date.in_time_zone(Time.zone).strftime('%Y-%m-%d %H:%M') %> <br><span><%= @task.status%></span><br>Priority: <%= @task.priority%></p>
<%= button_to "Delete task", delete_task_path(@task.user_id, @task), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %>

</section>
